<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REORDER_TASKS" /> <!-- Required for scanning -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".CamShield"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraLockDemo"
        tools:targetApi="31">
        <activity
            android:name=".activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PermissionRestoreActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CameraDisabledActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ScanActivity"
             android:exported="false" />
        <activity
            android:name=".activity.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BlockedActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="com.sierra.admin.activity.LoginActivity"
            android:exported="false"/>

        <activity android:name="com.sierra.admin.activity.RegisterActivity"
            android:exported="false"/>

        <activity android:name="com.sierra.admin.activity.MainActivity"
            android:exported="false"/>

        <activity android:name="com.sierra.admin.activity.FacilityDetailActivity"
            android:exported="false"/>

        <activity android:name="com.sierra.admin.activity.DashboardActivity"
            android:exported="false"/>


        <activity android:name="com.sierra.admin.activity.CreateUpdateFacility"
            android:exported="false"/>

        <activity android:name="com.sierra.admin.activity.ExitRequestDetailActivity"
            android:exported="false"/>

        <service
            android:name=".CameraBlockerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Monitors camera availability and presents a blocking overlay while the visitor is inside a restricted area." />
        </service>

        <receiver
            android:name=".DeviceAdminReceiver"
            android:description="@string/device_admin_description"
            android:exported="true"
            android:label="@string/device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".activity.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>